header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    background-color: #09175b;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  header input {
    margin-right: 20px;
    padding: 2px 5px;
  }
  
  header nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
  }